<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SpringBoot TestNG Suite">
    <test name="AuthController Tests">
        <classes>
            <class name="com.hairsalonbookingapp.hairsalon.APITest.AuthenticationAPITest"/>
            <class name="com.hairsalonbookingapp.hairsalon.HairsalonApplicationTests"/>
        </classes>
    </test>
</suite>